*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: orange;
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #add8e6;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    color: white;
}

nav{
    padding: 1em;
}

.flexContainer{
    display: flex;
    /* di default ma lo riscrivo */
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;         
}

.button{
    min-width: 100px;
    padding: 1em;
    /* border: solid 1px; */
}

.linkButton{
    text-decoration: none;
    color: white;    
}

.blueBackground{      
    display: flex;
    justify-content: center;
    padding: 2em  
}

.weirdPinkBox{
    text-align: center;
    min-height: 300px;
    width: 45%;
}

#firstP{
    margin: 50px;    
}

.background{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.white.background{
    background-color: white;
}

.container{   
    height: 500px;
    width: 70%;
    display: flex;
    justify-content: center;    
}

.container.reverse{
    flex-direction: row-reverse;   
}

.lightbluebox{
    width: 66%;    
}

.lightpinkbox{    
    width: 33%;
    padding: 50px;
}

.grey.background{
    background-color: #d3d3d3;
}

.greenbox{
    background-color: green;
    width: 100%;
}

.smoke.background{
    background-color: #23272a;
}

.mintbox{    
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.smallMintBox{
    width: 25%;
    /* per evidenziare i 4div */
    
}

.salmonbox{    
    width: 33%;
}

#lastBlock{
    background-color: #23272a;    
}

/* **** rounded button***** */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 25px;
    background-color: #8ea1e1;    
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: #8ea1e1;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/* ********************************** */

footer{
    color: white;
}

.listStyle{
    list-style: none;
}